body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "Meiryo";
	font-size: var(--vscode-markdown-font-size, 14px);
	padding: 0 12px;
	line-height: var(--vscode-markdown-line-height, 22px);
	word-wrap: break-word;
}

.flex {
	display: flex;
}

.sticky {
	position: sticky;
	top: 15px;
}
