body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "Meiryo";
	font-size: var(--vscode-markdown-font-size, 14px);
	padding: 0 12px;
	line-height: var(--vscode-markdown-line-height, 22px);
	word-wrap: break-word;
}

img, svg {
	margin: 10px;
	background-color: #ddd";
}

.flex {
	display: flex;
}

.flex-left {
	margin-right: 15px
}

.flex-right {
	margin-left: 15px
}

.sticky {
	position: sticky;
	top: 15px;
}

.quiz {
	color: red;
	font-weight: bold;
}

.checkmark{
	padding-left:24px;
	position:relative;
}
.checkmark:before,
.checkmark:after{
	content:"";
	display:block;
	position:absolute;
}
.checkmark:before{
	width:16px;
	height:16px;
	background:#ffffff;
    	border:1px solid #000000;
	left:0;top:2px;
}
.checkmark:after{
	border-left:2px solid #ff0000;
	border-bottom:2px solid #ff0000;
	width:7px;
	height:4px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	left:5px;
	top:7px;
}

/* 関連研究の星取り表用 */
.ref-ok{
	background-color: #09e409;
}
.ref-so{
	background-color: #efff00c4;
}
.ref-ng{
	background-color: #ff0000b8;
}


/* クリック表示切替用 */
.switch-active {
	display: block;
}

.switch-disactive {
	display: none;
}