body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "Meiryo";
	font-size: var(--vscode-markdown-font-size, 14px);
	padding: 0 12px;
	line-height: var(--vscode-markdown-line-height, 22px);
	word-wrap: break-word;
}

img, svg {
	margin: 10px;
	background-color: #ddd";
}

.flex {
	display: flex;
}

.flex-left {
	margin-right: 15px
}

.flex-right {
	margin-left: 15px
}

.sticky {
	position: sticky;
	top: 15px;
}

.quiz {
	color: red;
	font-weight: bold;
}